<div>
    <!--  -->
    <div class="container">
        <form [formGroup]="complexForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">Name: </label>
                <input type="text" formControlName="name" />
                <!-- touched when input empty and user didn't enter anyt' -->
                <div *ngIf="name?.invalid && name?.touched" class="error">This value is invalid</div>
            </div>

            <div>
                <label for="email">Email: </label>
                <input type="email" formControlName="email" />
                <div *ngIf="email?.invalid && email?.touched" class="error">This value is invalid</div>
            </div>

            <div>
                <label for="age">Age: </label>
                <input type="number" formControlName="age" />
                <div *ngIf="age?.invalid && age?.touched" class="error">This value is invalid</div>
            </div>

            <div>
                <label for="password">Password: </label>
                <input type="password" formControlName="password" />
                <div *ngIf="password?.invalid && password?.touched" class="error">This value is invalid</div>
            </div>

            <div>
                <label>
                    <input type="checkbox" formControlName="consent" />I agree to the terms and conditions
                </label>
            </div>
            <button type="submit" [disabled]="!complexForm.valid">Submit</button>
        </form>
    </div>












    <!-- <p>Test Component</p> -->
    <!-- <p>{{title}}</p> -->
    <!-- <p>{{getFullName()}}</p>
    <p [ngStyle]="{color: 'red'}">ngStyle used</p>
    <p [ngClass]="{'active': isActive, 'disabled': isDisabled}"> ngClass used</p> -->

    <!-- <button [disabled]="!isEnabled">Click me</button> -->
    <!-- <div class="event-example" [ngClass]="{'clicked':isClickedState}"></div>
    <button (click)="toggleState()">Toggle state</button> -->
    <!-- Two-way binding -->
    <!-- <input type="text" [(ngModel)]="inputText" />  -->
    <!-- Виведення значень за допомогою інтерполяції -->
    <!-- <p>{{inputText}}</p> -->

    <!-- <div class="todo-container">
        <input [(ngModel)]="newTask" placeholder="Add new task..." type="text" class="todo-input" />
        <button (click)="addTask()" class="add-btn">Add</button>

        <ul class="todo-list">
            <li *ngFor="let task of tasks; let i = index" class="todo-item">
                {{task}}
                <button (click)="removeTask(i)" class="remove-btn">Remove</button>
            </li>
        </ul>
    </div> -->

    <!-- <p>{{childMessage}}</p> -->
    <!-- <button (click)="sendMessageToParent()">Send message to Parent!</button> -->
    <!-- <p appLightning [highlightColor]="'blue'"> Hover me to see effect! </p> -->

    <!-- OLD IF-->
    <!-- <p *ngIf="isClickedState ; else notClickedState"> Button was clicked! </p> 
    <ng-template #notClickedState>
        <p>Buton wasn't clicked!</p>
    </ng-template>
    <button (click)="toggleState()"> Toggle State </button> -->
    <!-- NEW IF -->
    <!-- @if (isClickedState){
    <p>Button was clicked!</p>
    }@else {
    <p>Buton wasn't clicked!</p>
    }
    <button (click)="toggleState()">Toggle State</button> -->
    <!-- OLD FOR -->
    <!-- <ul>
        <li *ngFor="let user of users; index as i">{{i+1}}: {{user}}</li>
    </ul> -->
    <!-- NEW FOR -->
    <!-- <ul>
        @for (item of items; track item.id; let idx = $index, e=$even){
        <li>Item: #{{idx}}:{{item.name}}</li>
        }@empty{
        <li>There are no items</li>
        }
    </ul> -->
    <!-- <ul>
        @for (user of users; track user; let idx = $index, e=$even, total=$count){
        <li>User: #{{idx+1}}:{{user}}</li>
        <p>Total Users: {{total}}</p>
        }@empty{
        <li>There are no users!</li>
        }
    </ul> -->

    <!-- OLD SWITCH -->
    <!-- <div [ngSwitch]="appState">
        <p *ngSwitchCase="'active'"> APP is active</p>
        <p *ngSwitchCase="'paused'"> APP is paused</p>
        <p *ngSwitchCase="'stopped'"> APP is stopped</p>
        <p *ngSwitchDefault="">APP State is unknown</p>
    </div> -->
    <!-- NEW SWITCH -->
    <!-- @switch(appState){
    @case('active'){
    <p>APP is active</p>
    }
    @case('paused'){
    <p>APP is paused</p>
    }
    @case('stopped'){
    <p>APP is stopped</p>
    }
    @default{
    <p>APP State is unknown</p>
    }
    } -->

    <!-- <p>{{today | date: 'shortDate' }}</p>
    <p>{{"HELLO WORLD" | lowercase}}</p>
    <p>{{"hello world" | uppercase}}</p>
    <p>{{1500.5 | currency}}</p>
    <p>{{1.23455322 | number}}</p>
    <p>{{0.5| percent}}</p>
    <p>{{"Hello world" | slice : 1 : 5}}</p>
    <p>{{ { name: 'John', age: 23} | json }}</p>
    <p>{{longText | truncate: 18}}</p> -->
</div>