.example-container {
  height: 100vh;
}

.example-sidenav {
  background-color: rgb(234, 230, 230);
}

.example-sidenav a {
  color: aliceblue;
}

mat-nav-list {
  width: 200px;
}

.side-bar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
